.container {
  background: white;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 90vh;

  .top {
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    :global {
      th {
        text-align: center !important;
        background: var(--color-brand) !important;
        color: white !important;
      }
    }
    .table_action {
      display: flex;
      justify-content: center;
      gap: 24px;
      svg {
        cursor: pointer;
      }
    }
  }
}

.content_popover {
  span {
    font-weight: 600;
  }
}

.big_title {
  font-weight: 600;
  font-size: 20px;
}
