.title {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-brand);
}

.form {
  :global {
    .ant-form-item {
      margin-bottom: 8px !important;
    }
  }

  .name_brand_image {
    display: grid;
    gap: 20px;
    grid-template-columns: 70% 1fr;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  .price_quantity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .input_number {
    :global {
      .ant-input-number-input-wrap {
        width: 100%;
        height: 100%;

        input {
          height: 100%;
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;

    .btn_save {
      background: var(--color-brand);
      color: white;
    }
  }

  .session {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }
}