@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background-brand: #35c2c1;
  --color-brand: #35c2c1;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Đảm bảo tính toán kích thước chính xác */
}
